.navContainer {
    color: $yellow;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 24px;
    display: flex;
    justify-content: end;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    z-index: 99;

    .mode {
        font-size: 14px;
        margin-right: 24px;
        cursor: pointer;

        &.active {
            border-bottom: 1px solid $yellow;
        }
    }

    .submitButton {
        font-size: 16px;
        padding: 16px 48px;
        border-radius: 99px;
        border: 1px solid $yellow;
        margin-left: 24px;

        @include tablet {
            padding: 12px 30px;
            font-size: 14px;
            margin-left: auto;
        }
    }
}